/* App.css */
body {
  background-color: #fff8ea;  /* Apply only to body, not everything */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;  /* Keep this for all elements */
}