@import "tailwindcss";


@font-face {
  font-family: 'Sora Variable'; /* Give it a different name to be explicit */
  src: url('/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800; /* Define the range of weights it supports */
  font-style: normal;
}

* {
  background-color: #120033;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'McLaren', sans-serif;
  scroll-behavior: smooth;
}